<% title "Issues" %>

<%= form_tag issues_path, :method => 'get', :id => "issues_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
    <div id="issues"><%= render 'issues' %></div>
<% end %>

<br />

<%= link_to 'New Issue', new_issue_path %>
