<% title "Scrambled counterparty identification" %>

<%= form_tag do %>
  <%=text_field_tag 'ClearID', '', :autocomplete => scrambles_autocomplete_scramble_ClearID_path %>       
<% end %>

<table>
  <tr>
    <th align='center'>Scrambled Identification</th>
    <th align='center'>Counteparty id</th>
    <th align='center'>Entity</th>
 	<th> </th>   
 </tr>

<% @scrambles.each do |scramble| %>
  <tr>
    <td align='center'><%=h scramble.EncryptedID4 %></td>
    <td align='center'><%=h scramble.ClearID %></td>
    <td align='center'><%=h scramble.entity_id %></td>
    <td><%= link_to 'Show', scramble %></td>
  </tr>
<% end %>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @scrambles %>
  </div>
    <%= will_paginate @scrambles, :container => false %>
</div>


<br />

<!--%= link_to 'New scramble', new_scramble_path %--> 