<!-- This is the breadcrumb part -->
<% content_for :breadcrumb do %>
    <ul id="crumbs">
     <li><a href="/">Basel II</a></li>
     <li>You are viewing a specific validation rule</li>
    </ul>
<% end %>

<% content_for :article1 do %>

<h2 class="art-postheader">
  Showing validation rule
</h2>

<div class="art-postcontent">
    <!-- article-content -->

<fieldset id="validation rule">
 <legend> Validation <%= @validation.ErrorKind %> </legend>

<p>
  <b>Client:</b>
  <%= @validation.Client_id %>
</p>

<p>
  <b>Key:</b>
  <%= @validation.Key_id %>
</p>

<p>
  <b> Outputfile:</b>
  <%= @validation.OutputFile %>
</p>

<p>
  <b>Outputfield:</b>
  <%= @validation.OutputField %>
</p>

<p>
  <b>Source:</b>
  <%= @validation.Source %>
</p>

<p>
  <b>Destination:</b>
  <%= @validation.Destination %>
</p>

<p>
  <b>Errortype:</b>
  <%= @validation.ErrorType %>
</p>

<p>
  <b>Recommendation:</b>
  <%= @validation.Recommendation %>
</p>

</fieldset>


<fieldset id="dataset information">
 <legend> Dataset information </legend>
<p>
  <b>Date:</b>
  <%= @validation.LoadDate %>
</p>

<p>
  <b>Source:</b>
  <%= @validation.Source_id %>
</p>

<p>
  <b>Entity:</b>
  <%= @validation.Entity_id %>
</p>
</fieldset>

<fieldset id="audit">
 <legend> Audit information </legend>

<p>
  <b>Id:</b>
  <%= @validation.id %>
</p>

<p>
  <b>Original:</b>
  <%= @validation.Original_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @validation.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @validation.updated_at %>
</p>

</fieldset>

<%= link_to 'Edit original record', edit_counterparty_path(@validation.Original_id) %> |
<!--%= link_to 'Show rule details', { :controller => "validationrules", :id => @validation.validationrule_id, :action => "show" }, :popup => ['Help', 'width=800,height=400'] %--> |
<%= link_to 'Edit validation error', edit_validation_path(@validation) %> |
<%= link_to 'Back', validations_path %>

<% end %>

</div>